* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,45,45,1) 50%, rgba(113,113,113,1) 100%);
    display: flex;
}

header div {
    margin: auto;
    color: black;
}


.boxes {
    padding: 10px 50px;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description, .graph {
    width: 50%;
    height: 100%;
    display: flex;
}

p {
    margin: auto;
    font-size: 50px;
    text-transform: uppercase;
}

canvas {
    margin: auto;
}